*{ /* RESET CSS */
    margin: 0;
    padding: 0;
}

main{
    background-color: #9d0703;
}

.background-main{
    background-color: white;
}

.bg-color{
    background-color: rgba(16, 38, 73, 1);
}

a.nav-link{
    color:white;
    font-family: 'Manrope', sans-serif;
}

a.nav-link:hover{
    color:#9d0703;
}

a.navbar-brand{
    color: white;
}

a.navbar-brand:hover{
    color: #9d0703;
}

.portada{
    width: 100%;
}

.text-marca{
    font-family: 'Manrope', sans-serif;
    color: white;
    font-size: 3rem;
}

.text-portada{
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 2rem;
}

.img-portada-1{
    max-height: auto;
    width: 100%;
}

.img-portada-2{
    max-height: auto;
    width: 100%;
}

.img-portada-3{
    max-height: auto;
    width: 100%;
}

.footer{
    background-color: rgba(16, 38, 73, 1);
}

.footer-logo{
    height: auto;
}

.footer__text{
    color: white;
    font-size: 15px;
    font-family: 'Manrope', sans-serif;
}

.footer-text-logo{
    color: white;
    font-size: 15px;
    font-family: 'Manrope', sans-serif;
}

.footer__direccion{
    color: white;
}

.footer__tel{
    color: white;
}

.footer__instagram{
    height: 50px;
}

.footer__facebook{
    height: 50px;
}

.footer__ubicacion{
    height: 40px;
}

.footer__cel{
    height: 40px;
}

.card{
    background-color: #ffffff4d;
    backdrop-filter:blur(3px);
    -webkit-backdrop-filter:blur(3px)
}

.btn{
    width: 100%;
    background-color:rgba(16, 38, 73, 1);
}

.btn:hover{
    background-color: #9d0703;
}

.img-polo-signIn{
    height: auto;
    width: 100%;
}

.text-h1{
    font-family: 'Manrope', sans-serif;
    color: rgba(16, 38, 73, 1);
    font-size: 2rem;
}